.box {
	background-color: rebeccapurple;
	width: 50%;
	height: 400px;
	border: 4px dashed blue; 
	border-radius: 40px;
	padding: 30px 20px;
	margin: 30px;
}

.bg-image {
	background-image: url("family.jpg");
	background-size: cover;
	background-attachment: fixed;

}
#display p {
	display: none;
}
#display a {
	display: block;
}

.float-box {
	height: 350px;
	background: rebeccapurple;
}

.item {
	height: 100px;
	width: 100px;
	background: red;
	float: right;
}